body{
    background-color: #E8E6E5;
}

body>section>h3{
    margin: 30px;
    text-align: center;
    font-size: 60px;
    color: #2F80ED;
    font-family: 'Poppins', sans-serif;
}

body>section>div{
    width: 1100px;
    margin-top: 150px;
    margin-left: 75px;
    display: flex;
}

#container>div>h5{
    color: mediumorchid;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}

#container>div{
    width: 250px;
    height: 200px;
    background-image: url("../image/ezgif.com-gif-maker.gif");
    background-size: cover;

}

body>img{
    position: absolute;
    width: 400px;
    height: 300px;
    right: 100px;
    top: 180px;
}

body>hr{
    border: 2px solid black;
    margin-left: 100px;
    width: 1300px;
}

