@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/*----------Header Styles--------*/
header{
    background: white;
    box-shadow: 0px -1px 8px 2px #1c1717e8;
    position: fixed;
    width: 100%;
    top: 0;
    height: 73px;
    z-index: 20;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
}

header > nav {
    position: absolute;
    right: 150px;
    top: 0;
}

header > div{
    padding: 0px;
    padding-left: 200px;
    font-size: 25px;
}

header > nav > ul > li {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgba(46, 41, 41, 0.96);
    font-size: 19px;
}

header > nav >ul > li > a {
    color: rgba(46, 41, 41, 0.96);
    text-decoration: none;
}

header > nav > ul > li > a:hover{
    color: #00D2D3;
}

header > nav > ul > li > a::after{
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background-color: #00D2D3;
    transition: width 0.2s;
}

header > nav > ul > li > a:hover::after{
    width: 50%;
    transition: width 0.2s;
}



/*-----------body-------------*/

/**,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}*/

body {
    position : relative;
    margin-top: 75px;
    height: 100%;
    width: 100%;
    background-image: url("../images/Untitled-2 copy.jpg");
    background-size: cover;
}

.card_grid {
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
    padding-left: 350px;
    padding-top: 100px;
    padding-bottom: 100px;
}

img {
    width: 348.8px;
    height: 232.5px;
    display: block;
    object-fit: cover;
    background-size: cover;
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    /*background: #ECE9E6;*/
    /*background: linear-gradient(to right, #FFFFFF, #ECE9E6);*/

}

.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
    font-family: 'Poppins', sans-serif;
}

.tag + .tag {
    margin-left: .5em;
}

.tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
}

.tag-brown {
    background: #D1913C;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
}

.tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.card__body h4 {
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.card__footer {
    display: flex;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-top: auto;
}

p{
    font-family: 'Poppins', sans-serif;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;

    color: #fff;
    background: linear-gradient(180deg, #00D2D3 0%, #00D2D3 100%);
    background-origin: border-box;
    box-shadow: rgba(0, 210, 211, 0.3) 0px 80px 40px -2px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

.assignmentLink {
    text-decoration: none;
}

.button:hover{
    transform: scale(1.05);
}
