/*----------Header Styles--------*/
header{
    background: white;
    box-shadow: 0px -1px 8px 2px #1c1717e8;
    position: fixed;
    width: 100%;
    top: 0;
    height: 73px;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
}

header > nav {
    position: absolute;
    right: 150px;
    top: 0;
}

header > div{
    padding: 0px;
    padding-left: 200px;
    font-size: 25px;
}

header > nav > ul > li {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgba(46, 41, 41, 0.96);
    font-size: 19px;
}

header ul > li > a {
    color: rgba(46, 41, 41, 0.96);
    text-decoration: none;
}

/*----------View port Styles--------*/

main{
    position : relative;
    margin-top: 75px;
}

/*----------Home Styles--------*/

#home > aside {
    position: absolute;
    padding-left:200px;
    padding-top: 200px;
    font-family: 'Poppins', sans-serif;
}

#home > section{
    padding-top: 40px;
    padding-left: 1000px;
}

#home > aside >h1{
    font-size: 60px;
}

#home > aside >h2{
    font-size: 50px;
    margin-bottom: 0px;
}

#home > aside >h3{
    font-size: 30px;
    margin-top:0px ;
}

#home > aside > button{
    background-color: #00D2D3;
    border: none;
    color: white;
    padding: 12px 82px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
    font-size: 25px;
    box-shadow: rgba(0, 210, 211, 0.3) 0px 80px 40px -2px;
    margin-top:50px ;
}

/*----------About Styles--------*/

#about > h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
}

#about > div{
    margin-left: 950px;
}

#about >img{
    padding-left: 175px;
    position: absolute;
}

#about > article{
    position: relative;
    padding-left:1000px;
    padding-top: 200px;
    font-family: 'Poppins', sans-serif;
}

#about > article > button{
    background-color: #00D2D3;
    border: none;
    color: white;
    padding: 12px 82px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
    font-size: 25px;
    box-shadow: rgba(0, 210, 211, 0.3) 0px 80px 40px -2px;
    margin-top:50px ;
}

#about > article > h2 {
    font-size: 50px;
    margin-bottom: 0px;
}

#about > article > h3 {
    font-size: 30px;
    margin-top: 0px;
}

/*----------Education Styles--------*/
#education > h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
    margin-top: 170px;
}

#education > div{
    margin-left: 950px;
    width :3px;
    height: 600px;
    position: relative;
}

#education > section{
    height: 100vh;
    width: 98vw;
    position: relative;
}
#education > section > div:nth-child(1){
    width :3px;
    height: 600px;
    position: absolute;
    background: #00D2D3;
    left: 50%;
    top: 100px;
}

#education > section > div:nth-child(1) > section {
    width :40px;
    height: 600px;
    position: relative;
    left: -18px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#education > section > div:nth-child(1) > section > div{
    width:25px;
    height:25px;
    background-color:white;
    border: #00D2D3 solid 4px;
    border-radius: 50%;
}

#education > section > div:nth-child(2){
    position: absolute;
    margin-top: 110px;
    left : 50%;
}

#education > section > div:nth-child(3){
    position: absolute;
    margin-top: 50px;
    left : 13%;
}

#education > section > div:nth-child(4){
    position: absolute;
    margin-top: 0px;
    left : 50%;
}

/*----------Skill Styles--------*/
#skills > h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
    margin-top: 0px;
}

#skills > div{
    margin-left: 950px;
    width :3px;
    height: 600px;
    position: relative;
}

#skills >section {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 60px;
    alignment: center;
    margin-left: 250px;

}

#skills > section > aside {
    height: 700px;
    width: 700px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10%;
}

#skills > section > aside > h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 30px;
    margin-top: 35px;

}

/*----------Services Styles--------*/
#services > h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
    margin-top: 80px;
}

#services > div{
    margin-left: 950px;
    width :3px;
    height: 600px;
    position: relative;
}

#services > section{
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 60px;
    alignment: center;
    margin-left: 250px;
}

#services > section > section {
    height: 600px;
    width: 340px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10%;
}

/*----------Projects Styles--------*/
#projects > h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
    margin-top: 110px;
}

#projects > div{
    margin-left: 950px;
    width :3px;
    height: 600px;
    position: relative;
}

#projects > section{
    height: 600px;
    width: 1450px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 4%;
    margin-top: 70px;
    margin-left: 250px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

#projects > section > div{
    width: 400px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 4%;
    z-index: 4;
}

#projects > section >div:nth-child(1){
    margin-left: 100px;
}

/*----------contact Styles--------*/
#contact > h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
    margin-top: 110px;
}

#contact > div{
    margin-left: 950px;
    width :3px;
    height: 600px;
    position: relative;
}

#details {
    background-color: white;
    height: 600px;
    width: 1450px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    border-radius: 50px;
    margin-top: 70px;
    margin-left: 250px;
    z-index: 6;
}

#bg1{
    background-color: #00D2D3;
    position: absolute;
    width: 100%;
    top: 5600px;
    height: 600px;
    z-index: 5;
}

#details > h3{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 30px;
    margin-top: 35px;
    margin-left: 100px;
    position: absolute;
}

#details > h3:nth-child(2){
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 30px;
    margin-top: 35px;
    left: 50%;
}

#details > section > p{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 20px;
    margin-top: 35px;
    margin-left: 180px;
    padding-top: 100px;

}

#details > section > p:nth-child(1){
    padding-top: 1000px;
}






