/*----------Header Styles--------*/
header{
    background: white;
    box-shadow: 0px -1px 8px 2px #1c1717e8;
    position: fixed;
    width: 100%;
    top: 0;
    height: 73px;
    z-index: 20;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
}

header > nav {
    position: absolute;
    right: 150px;
    top: 0;
}

header > div{
    padding: 0px;
    padding-left: 200px;
    font-size: 25px;
}

header > nav > ul > li {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgba(46, 41, 41, 0.96);
    font-size: 19px;
}

header > nav >ul > li > a {
    color: rgba(46, 41, 41, 0.96);
    text-decoration: none;
}

header > nav > ul > li > a:hover{
    color: #00D2D3;
}

header > nav > ul > li > a::after{
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background-color: #00D2D3;
    transition: width 0.2s;
}

header > nav > ul > li > a:hover::after{
    width: 50%;
    transition: width 0.2s;
}


/*----------View port Styles--------*/

main{
    position : relative;
    margin-top: 75px;
    height: 100%;
    width: 100%;
    background-image: url("../images/Untitled-2 copy.jpg");
    background-size: cover;
}

/*----------Home Styles--------*/

#home > aside {
    position: absolute;
    padding-left:200px;
    padding-top: 160px;
    font-family: 'Poppins', sans-serif;
}

#home > section{
    padding-top: 40px;
    padding-left: 1000px;
}

#home > aside >h1{
    font-size: 60px;
}

#home > aside >h2{
    font-size: 50px;
    margin-bottom: 0px;
}

#home > aside >h3{
    font-size: 30px;
    margin-top:0px ;
}

#home > aside > button{
    background-color: #00D2D3;
    border: none;
    color: white;
    padding: 12px 82px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
    font-size: 25px;
    box-shadow: rgba(0, 210, 211, 0.3) 0px 80px 40px -2px;
    margin-top:50px ;
    cursor: pointer;
}

#home > aside > nav >i{
    position: relative;
    background-color: #00D2D3;
    color:white;
    width: 50px;
    height: 50px;
    font-size: 40px;
    border-radius: 100%;
    padding-top: 11px;
    padding-left: 11px;
    margin-left: 15px;
    margin-right: 15px;
    top: 120px;
    cursor: pointer;
}

#home > aside > nav >i:nth-child(4){
    font-size: 35px;
}

#home > aside > button:hover{
    transform: scale(1.05);
}

#home > aside > nav >i:hover{
    box-shadow: rgba(0, 210, 211, 0.2) 0px 7px 29px 0px;
    transform: scale(1.05);
}

/*----------About Styles--------*/

#about > h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
}

#about > div{
    margin-left: 950px;
}

#about >img{
    padding-left: 175px;
    position: absolute;
}

#about > article{
    position: relative;
    padding-left:1000px;
    padding-top: 200px;
    font-family: 'Poppins', sans-serif;
}

#about > article > button{
    background-color: #00D2D3;
    border: none;
    color: white;
    padding: 12px 82px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
    font-size: 25px;
    box-shadow: rgba(0, 210, 211, 0.3) 0px 80px 40px -2px;
    margin-top:50px ;
}

#about > article > h2 {
    font-size: 50px;
    margin-bottom: 0px;
}

#about > article > h3 {
    font-size: 30px;
    margin-top: 0px;
}

#about > article > p{
    width :600px;
    height :100px;
}

#about > article > button:hover{
    transform: scale(1.05);
}

/*----------Education Styles--------*/
#education > h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
    margin-top: 170px;
}

#education > div{
    margin-left: 950px;
    width :3px;
    height: 600px;
    position: relative;
}

#education > section{
    height: 100vh;
    width: 98vw;
    position: relative;
}
#education > section > div:nth-child(1){
    width :3px;
    height: 600px;
    position: absolute;
    background: #00D2D3;
    left: 50%;
    top: 100px;
}

#education > section > div:nth-child(1) > section {
    width :40px;
    height: 600px;
    position: relative;
    left: -18px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#education > section > div:nth-child(1) > section > div{
    width:25px;
    height:25px;
    background-color:white;
    border: #00D2D3 solid 4px;
    border-radius: 50%;
}

#education > section > div:nth-child(2){
    position: absolute;
    margin-top: 110px;
    left : 50%;
}

#education > section > div:nth-child(3){
    position: absolute;
    margin-top: 50px;
    left : 13%;
}

#education > section > div:nth-child(4){
    position: absolute;
    margin-top: 0px;
    left : 50%;
}

/*----------Skill Styles--------*/
#skills > h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
    margin-top: 0px;
}

#skills > div{
    margin-left: 950px;
    width :3px;
    height: 600px;
    position: relative;
}

#skills >section {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 60px;
    alignment: center;
    margin-left: 250px;

}

#skills > section > aside {
    height: 700px;
    width: 700px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    border-radius: 10%;
}

#skills > section > aside > h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 30px;
    margin-top: 35px;

}

#skills > section > aside >section {
    height: 600px;
    width: 600px;
    border-radius: 10%;
}

#technologies {
    position: relative;
    top: 60px;
    left: 45px;
    margin: auto;
    display: grid;
    /*border: 2px solid red;*/
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
}

#technologies > div:nth-child(6){
    grid-row: 2/3;
    grid-column: 2/4;
    background-size: cover;
    background-position: center;
}

#technologies > div > h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

#technologies > div:nth-child(1) >img{
    padding-top: 20px;
    width: 112px;
    height: 112px;
}

#technologies > div > h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

#softwares {
    position: relative;
    top: 60px;
    left: 45px;
    margin: auto;
    display: grid;
    /*border: 2px solid red;*/
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
}

#softwares > div > h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

#skills > section > aside:hover{
    transform: scale(1.05);
}

/*----------Services Styles--------*/
#services > h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
    margin-top: 80px;
}

#services > div{
    margin-left: 950px;
    width :3px;
    height: 600px;
    position: relative;
}

#services > section{
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 60px;
    alignment: center;
    margin-left: 250px;
}

#services > section > section {
    height: 500px;
    width: 340px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10%;
    text-align: center;
}

#services > section > section > i{
    font-size: 100px;
    margin-top: 60px;
    color: #00D2D3;
}

#services > section > section > h3{
    font-size: 30px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

#services > section > section > p{
    font-size: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

#services > section > section:hover{
    transform: scale(1.05);
}

/*----------Projects Styles--------*/
#projects > h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
    margin-top: 110px;
}

#projects > div{
    margin-left: 950px;
    width :3px;
    height: 600px;
    position: relative;
}

#projects > section{
    height: 600px;
    width: 1450px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    border-radius: 4%;
    margin-top: 70px;
    margin-left: 250px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

#projects > section > img{
    width: 400px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    border-radius: 4%;
    z-index: 4;
}

#projects > section >img:nth-child(1){
    margin-left: 100px;
    background-image: url("/../../assests/images/software mockup copy.jpg");
    z-index: 8;
}

#projects > section >section{
    height: 50px;
    width: 200px;
    position: absolute;
    top: 525px;
    left: 46.5%;
    display: flex;
    align-items: center;
    column-gap: 30px;
    z-index: 10;
}

#projects > section > section > div{
    height: 20px;
    width: 20px;
    background-color: #00D2D3;
    border-radius: 100%;
}

#projects > section > section > div:nth-child(1){
    height: 20px;
    width: 20px;
    background-color: #bdc3c7;
    border-radius: 100%;
}

#projects > section > section > div:nth-child(3){
    height: 20px;
    width: 20px;
    background-color: #bdc3c7;
    border-radius: 100%;
}

/*----------contact Styles--------*/
#contact > h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
    margin-top: 110px;
}

#contact > div{
    margin-left: 950px;
    width :3px;
    height: 600px;
    position: relative;
}

#details {
    background-color: white;
    height: 600px;
    width: 1450px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    border-radius: 50px;
    margin-top: 70px;
    margin-left: 250px;
    z-index: 6;
}

#bg1{
    background-color: #00D2D3;
    position: absolute;
    width: 100%;
    top: 5600px;
    height: 600px;
    z-index: 5;
}

#details > h3{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 30px;
    margin-top: 35px;
    margin-left: 100px;
    position: absolute;
}

#details > h3:nth-child(2){
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 30px;
    margin-top: 35px;
    left: 50%;
}

#details > section > p{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    position: relative;
    top: 120px;
    font-size: 20px;
    margin-top: 35px;
    margin-left: 180px;
    padding-top: 20px;
}


#details > section > p:nth-child(1){
}

#details > section > div{
    height: 300px;
    width : 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 105px;
    left: 80px;
}

#details >section > div > div{
    height: 50px;
    width: 50px;
    background-color: #00D2D3;
    border-radius: 100%;
}

#details >section > div > div >i{
    font-size: 25px;
    margin-left: 12.5px;
    margin-top: 12.5px;
    color: white;
}

#details >section > div > div:nth-child(1) >i{
    font-size: 25px;
    margin-left: 15px;
    margin-top: 12.5px;
    color: white;
}

#details > form{
    position: absolute;
    left : 50%;
    top : 130px;
}

#fname{
    padding:10px;
    border:0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 20px;
    background-color:#f1f2f6 ;
}

#lname{
    padding:10px;
    border:0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 20px;
    background-color:#f1f2f6 ;
    position: relative;
    bottom: 42px;
    left: 300px;
}

#email{
    padding:10px;
    border:0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 20px;
    background-color:#f1f2f6 ;
    position: relative;
    right: 275px;
    top: 50px;
}

#phone{
    padding:10px;
    border:0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 20px;
    background-color:#f1f2f6 ;
    position: relative;
    bottom: 42px;
    left: 300px;
    top: 8px;
}

#submitbtn{
    background-color: #00D2D3;
    border: none;
    color: white;
    padding: 12px 82px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
    font-size: 25px;
    margin-top:80px ;
    font-family: 'Poppins', sans-serif;
}

#textarea{
    padding:10px;
    border:0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 20px;
    background-color:#f1f2f6 ;
    position: relative;
    top: 50px;
}

#submitbtn:hover{
    transform: scale(1.05);
}

/*----------footer Styles--------*/
footer{
    position: relative;
    width: 100%;
    height: 180px;
    background-color: white;
    z-index: 18;
    top: 70px;
}

footer > h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 30px;
    padding-top: 40px;
}

footer> div >i{
    position: relative;
    background-color: #00D2D3;
    color:white;
    width: 35px;
    height: 35px;
    font-size: 25px;
    border-radius: 100%;
    padding-top: 10px;
    padding-left:10px;
    margin-left: 15px;
    margin-right: 15px;
    top: 20px;
    left: 43%;
}

footer> div >i:nth-child(2){
    position: relative;
    background-color: #00D2D3;
    text-align: center;
    color:white;
    width: 35px;
    height: 35px;
    font-size: 25px;
    border-radius: 100%;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0px;
    margin-right: 0px;


}

footer> div >i:nth-child(4){
    position: relative;
    color:white;
    width: 35px;
    height: 35px;
    font-size: 25px;
    border-radius: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;

}

footer> div >i:hover{
    transform: scale(1.2);
    box-shadow: rgba(0, 210, 211, 0.2) 0px 7px 29px 0px;
}

/*---------------------------------------------------------------------*/
/*----------responsive for mobile small--------*/

@media all and (max-width: 320px) {
    /*----------header--------*/
    header{
        height: 70px;
        width: 100vw;
    }

    header > nav {
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
    }

    header > div{
        padding: 0px;
        font-size: 16px;
        text-align: center;
    }

    header > nav > ul{
        padding-top: 15px;
        padding-left: 0px;
    }

    header > nav > ul > li {
        cursor: pointer;
        padding: 5px;
        font-family: 'Poppins', sans-serif;
        color: rgba(46, 41, 41, 0.96);
        font-size: 8px;
    }

    header > nav >ul > li > a {
        color: rgba(46, 41, 41, 0.96);
        text-decoration: none;
    }

    header > nav > ul > li > a:hover{
        color: #00D2D3;
    }

    header > nav > ul > li > a::after{
        content: '';
        display: block;
        width: 0;
        height: 5px;
        background-color: #00D2D3;
        transition: width 0.2s;
    }

    header > nav > ul > li > a:hover::after{
        width: 50%;
        transition: width 0.2s;
    }

    /*----------hpme--------*/
    #home > aside {
        padding-left:20px;
        padding-top: 270px;
    }

    #home > section{
        padding-top: 0px;
        padding-left: 10px;
        width : 200px;
        height: 200px;
    }

    #home > section > img{
        height: 300px;
        width: 300px;
    }

    #home > aside >h1{
        font-size: 25px;
    }

    #home > aside >h2{
        font-size: 20px;
        margin-bottom: 0px;
    }

    #home > aside >h3{
        font-size: 15px;
        margin-top:0px ;
    }

    #home > aside > button{
        background-color: #00D2D3;
        border: none;
        color: white;
        padding: 6px 60px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 16px;
        font-size: 12px;
        margin-top:0px ;
        margin-left: 0px;
        cursor: pointer;
    }

    #home > aside > nav >i{
        position: relative;
        background-color: #00D2D3;
        color:white;
        width: 20px;
        height: 20px;
        font-size: 15px;
        border-radius: 100%;
        padding-top: 5px;
        padding-left: 5px;
        margin-left: 5px;
        margin-right: 5px;
        top: 15px;
        left:0px;
        cursor: pointer;
    }

    #home > aside > nav >i:nth-child(4){
        font-size: 15px;
    }

    /*----------about--------*/
    #about > h1{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 0;
        font-size: 25px;
        margin-top: 300px;
    }

    #about > div{
        margin-top: 0px;
        margin-left: 150px;
    }

    #about >img{
        padding-left: 35px;
        position: absolute;
        width: 250px;
        height: 250px;
    }

    #about > article{
        position: relative;
        padding-left:12px;
        padding-top: 260px;
        font-family: 'Poppins', sans-serif;
    }

    #about > article > button{
        background-color: #00D2D3;
        border: none;
        color: white;
        padding: 6px 60px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 16px;
        font-size: 12px;
        margin-top:0px ;
        margin-left: 0px;
        cursor: pointer;
        font-weight: bold;
    }

    #about > article > h2 {
        font-size: 20px;
        margin-bottom: 0px;
    }

    #about > article > h3 {
        font-size: 15px;
        margin-top: 0px;
    }

    #about > article > p {
        font-size: 10px;
        margin-top: 0px;
        width:94%
    }

    /*----------education--------*/
    #education > h1{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 0;
        font-size: 25px;
        margin-top: 60px;
    }

    #education > div{
        margin-top: 0px;
        margin-left: 150px;
    }

    #education > section{
        width: 100vh;
        height: 300px;
    }

    #education > section > div:nth-child(1){
        display: none;
        visibility: hidden;
    }

    #edu1> img{
        height: 320px;
        width: 320px;
    }

    #education > section > div:nth-child(2){
        left: 0%;
        margin-top: 0px;
    }

    #edu2 > img{
        height: 320px;
        width: 320px;
    }

    #education > section > div:nth-child(3){
        left: 0%;
        margin-top: 0px;
    }

    #edu3 > img{
        height: 320px;
        width: 320px;
    }

    #education > section > div:nth-child(4){
        left: 0%;
        margin-top: 0px;
    }

    /*----------skills--------*/
    #skills > h1{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 0;
        font-size: 25px;
        margin-top: 60px;
    }

    #skills > div{
        margin-top: 0px;
        margin-left: 150px;
    }
}

