header{
    background: white;
    box-shadow: 0px -1px 8px 2px #1c1717e8;
    position: fixed;
    width: 100%;
    top: 0;
    height: 73px;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
}

header > nav {
    position: absolute;
    right: 40px;
    top: 0;
}

header > div{
    padding: 10px;
    padding-left: 40px;
}

header > nav > ul > li {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgba(46, 41, 41, 0.96);
    font-size: 19px;
}

header ul > li > a {
    color: rgba(46, 41, 41, 0.96);
    text-decoration: none;
}

#home > section{
    padding-left: 1000px;
}