body{
    background-color: #34495e;
}

h2{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


#container{
    position:relative;
    top: 80px;
    display: flex;
    margin-left: 400px;
}

#container>div{
    width: 200px;
    height: 50px;
}

#hr1{
    position: relative;
    width: 90vw;
    background-color: black;
    height: 2px;
    top: 50px;
}

#hr2{
    position: absolute;
    width: 90vw;
    background-color: black;
    height: 2px;
    top: 280px;
}

#up{
    margin-left: 150px;
    width: 200px;
    height: 50px;
}

#down{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1250px;
    top: 350px;
}


